/* header */
/* aside */
/*  footer */
*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #f7f7f7;
  font-family: "Source Sans Pro", Verdana, sans-serif;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

body header {
  height: 66px;
  background-color: #464543;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

body header .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body header .brand .menu-toggle {
  display: none;
}

body header .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body header .actions div {
  padding-left: 20px;
  padding-right: 20px;
}

body header .actions div:last-child {
  padding-right: 0px;
}

body header .actions .username {
  border-right: 1px solid #555555;
}

body header .actions .notifications, body header .actions .options {
  cursor: pointer;
}

body .content-container {
  height: calc(100vh - 66px);
  display: flex;
  justify-content: space-between;
}

body .content-container aside {
  width: 218px;
  background-color: white;
  color: #464543;
  font-size: 18px;
  box-shadow: 0 7px 20px 0 rgba(224, 224, 224, 0.5);
}

body .content-container aside nav {
  margin-top: 40px;
}

body .content-container aside nav ul li {
  height: 25px;
  padding-left: 25px;
  margin-bottom: 40px;
}

body .content-container aside nav ul li a {
  font-size: 18px;
  color: #464543;
  line-height: 23px;
  letter-spacing: 0.76px;
  text-decoration: none;
}

body .content-container .main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .content-container .main-container footer {
  font-size: 14px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .content-container .main-container footer img {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  body header {
    padding-left: 20px;
    padding-right: 20px;
  }
  body header .brand {
    width: 100%;
  }
  body header .brand .menu-toggle {
    display: inline;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
  }
  body header .brand .img-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body header .actions {
    display: none;
  }
  .content-container aside {
    display: none;
  }
}
