.info-box .container div .ano {
  font-weight: bold;
  font-size: 20px;
}

.info-box .container div p {
  margin: 0px 0px 10px 0px;
}

.info-box .container div .detalhe {
  color: #C2D46E;
  text-transform: uppercase;
}
